* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-container {
  background-image: url(static-tv.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height: 100vh;
}
