* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 4.5rem;
}

.hero-container a {
  text-decoration: none;
  color: black;
}

.line {
  background-color: black;
  height: 3px;
  width: 50px;
}

.line-wrapper {
  margin-top: 4rem;
  margin-left: 10rem;
}

.line-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
}

.hero-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.hero-left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: white;
  position: absolute;
  top: 55%;
  left: 5%;
}

.hero-left p {
  font-size: 4rem;
}

.icon-text {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
}

.hero-right {
  position: absolute;
  top: 20%;
  left: 55%;
}

/* ---------- MOVIES ---------- */
.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
