@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: gray; */
  font-family: "Raleway";
}

h1 {
  font-size: 4.5rem;
  color: white;
  font-family: "Permanent Marker";
}

.hero-container {
  background-image: url(imgs/static-tv.jpg);
  background-size: cover;
  background-position: center;
}

.hero-container a {
  text-decoration: none;
  color: white;
}

.line {
  background-color: white;
  height: 3px;
  width: 50px;
}

.line-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  padding: 1rem;
  gap: 0.5rem;
}

.line-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.5rem;
}

.line-container h2 {
  margin-bottom: 2rem;
  padding: 4rem;
}

.hero-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.hero-left {
  display: flex;
  flex-direction: column;
  color: white;
  position: absolute;
  top: 65%;
  left: 5%;
}

.hero-left p {
  font-size: 2.5rem;
}

.icon-text {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
}

.hero-right {
  position: absolute;
  /* top: 10%;
  left: 55%; */
  top: 30%;
  left: 40%;
}

/* movies section */
.movies-section {
  position: relative;
}

.movies-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.movies-section p {
  z-index: 2;
  position: relative;
  color: white;
}
